<!DOCTYPE html>
<html>

<head>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KC6VJ5J');</script>
	<!-- End Google Tag Manager -->

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:site_name" content="REBBL News" />
	{% if title %}
	<meta property="og:title" content="{{ title }}" />{% else %}
	<meta property="og:title" content="REBBL News" />{% endif %}
	{% if shortdesc %}
	<meta property="og:description" content="{{ shortdesc }}" />{% else %}
	<meta property="og:description"
		content="ReBBL News provides the most up to date fictional news related to ReBBL Blood Bowl events." />{% endif %}
	<meta property="og:type" content="blog" />
	<meta property="og:image" content="https://news.rebbl.net/static/rebblnews.png">
	<meta property="og:image:url" content="https://news.rebbl.net/static/rebblnews.png">
	<link rel="icon" type="image/png" href="https://news.rebbl.net/static/rebblnews.png" />
	<link rel="shortcut icon" type="image/png" href="https://news.rebbl.net/static/rebblnews.png" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


	<!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Sanchez|Fruktur|Pacifico|Source+Sans+Pro|Lora|Boogaloo"
		rel="stylesheet">

	{% if title %}<title>ReBBL News - {{ title }}</title>{% else %}<title>ReBBL News</title>{% endif %}
</head>

<body class="album bg-secondary bg-paper3" style="margin-top:4rem">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC6VJ5J" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header class="site-header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">ReBBL News</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-item nav-link"
								href="{{ url_for('main.category', category="All") }}">Announcements/General</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Leagues
							</a>
							<div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
								<a class="nav-item nav-link" href="{{ url_for('main.category', category="Big O") }}">Big O</a>
								<a class="nav-item nav-link" href="{{ url_for('main.category', category="GMAN") }}">GMAN</a>
								<a class="nav-item nav-link" href="{{ url_for('main.category', category="REL") }}">REL</a>
								<a class="nav-item nav-link" href="{{ url_for('main.category', category="Clan") }}">Clan</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav">
						{% if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a></li>
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('posts.new_video') }}">New Video</a></li>
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.my_posts') }}">My Posts</a></li>
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a></li>
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
						{% else %}
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a></li>
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" class="container py-4">
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				{% block content %}{% endblock %}
			</div>
		</div>
	</main>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>

</html>