
{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3"></h1>
    <div class="content-section">
      <div class="media">
        <img class="account-img" src=" {{ url_for('static', filename='profile_pics/' +user.image_file) }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.coachname }}</h2>
          <p class="text-secondary">Total number of posts by {{ user.coachname }}: ({{ posts.total }})</p>
        </div>
      </div>
	</div>
    {% for post in posts.items %}
	  {% if post.author == current_user %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
			{% if post.published == True %}
			<button type="button" class="btn btn-success btn-sm m-1">Post is currently Published</button>
			{% else %}
			<button type="button" class="btn btn-danger btn-sm m-1">Post is currently Not Published</button>
			{% endif %}</h2>
            <p class="article-content">{{ post.shortdesc | safe }} -&nbsp;<a href="{{ url_for('posts.post', post_id=post.id) }}" >Read&nbsp;the&nbsp;full&nbsp;article</a></p>
          </div>
        </article>
	  {% endif %}
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.my_posts', coachname=user.coachname, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.my_posts', coachname=user.coachname, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}