{% extends "layout.html" %}
{% block content %}
      <div>
        <img src="{{ url_for('static', filename='cabal_vision.png') }}" class="img-fluid">
      </div>
      <div>
          <h1 class="d-inline-flex" style="font-size:3rem; margin-left:1rem;">Find Your Recap
          <form method="POST" action="">
              {{ form.hidden_tag() }}

          <div class="form-row">
            <div class="form-group" style="margin:.5rem; margin-left:1rem;">
                {{ form.category(class="form-control form-control-lg") }}
              </div>
              <div class="form-group" style="margin:.5rem">
                {{ form.division(class="form-control form-control-lg") }}
              </div>

            <div class="form-group" style="margin:.5rem">
                {{ form.submit(class="btn btn-lg btn-danger align-top") }}
            </div>
          </div>
        </h1>
      </div>

<!-- Main Content -->
<div class="album">
  <div class="container">
    {% for row in posts|batch(3, '&nbsp;') %}
    <div class="row">
      {% for post in row %}
      {% if post != '&nbsp;' %}
      <div class="col-md-4">
        <div class="mb-4" style="background-size: cover; height:0px; box-sizing: border-box; overflow:hidden; padding-top: 60%; position:relative; background-color: transparent; background-image:url('/static/{{ post.category }}.png')">
          <div class="card-body"
            style="position:absolute; top: 0; left: 0; right: 0; bottom: 0; margin-right:13%; margin-left:2%; overflow:hidden">
            <h3 style="font-family: Boogaloo;">{{ post.title }}</h3>

            {% if post.post_type == "text" %}
            <p class="card-text text-left"><strong>{{ post.date_posted.strftime("%b %d, %Y") }}</strong> - By <a class="mr-2 text-primary"
              href="{{ url_for('users.user_posts', coachname=post.author.coachname) }}">{{ post.author.coachname }}</a></strong><br />
              {{ post.shortdesc }}
            </p>

            {% elif post.post_type == "video" %}
            <a href="{{ url_for('posts.postslug', post_slug=post.slug) }}">
            <img src="{{ post.videoimg }}" style="width:90%; margin-left:5%;" />
            </a>

            {% elif post.post_type == "recap" %}
            <a href="{{ url_for('posts.postslug', post_slug=post.slug) }}">
              <img src="{{ post.videoimg }}" style="width:90%; margin-left:5%;" />
            </a>
            {% endif %}

            <a href="{{ url_for('posts.postslug', post_slug=post.slug) }}"><button type="button"
              class="btn btn-danger btn-sm" style="border-radius: 10px; position: absolute; right: 0; bottom: 0; margin-right:5%;margin-bottom:8%;">See More</button></a>

          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}