@font-face {
  font-family: Nuffle;
  src: url('static/Nuffle.woff') format("woff");
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h1 {font-family: Boogaloo; text-transform: uppercase;}
h2 {font-family: 'Playfair Display','Droid Serif'}
h3 {font-family: 'Droid Serif' }
h4 {font-family: Boogaloo, sans-serif}
h5 {font-family: Sanchez }

.bg-paper3 {
  background-color: transparent;
  background-image: url('/static/parchment.jpg');
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.carousel-item.img {
  max-width:100%;
  max-height:100%;
  height: auto;
  width:auto;
}

.font-carousel {
  font-family:Boogaloo;
  color: DarkRed; 
  text-shadow:2px 2px 2px #F1F1D4,-2px 2px 2px #F1F1D4,2px -2px 2px #F1F1D4,-2px -2px 2px #F1F1D4;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: DarkRed;
}

.content-section {
  background: rgba(255, 255, 255, .8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article.media.content-section {
  background: rgba(255, 255, 255, .3)
}

.article-title {
  color: DarkRed; 
  -webkit-text-stroke: 1px black;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
  -webkit-text-stroke: none;
  -webkit-text-fill-color: none;
}

.article-content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; 
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: grey;
}

.article-content h1 {
	font-size: 1.75rem;
}

.article-content h2 {
	font-size: 1.4rem;
}

.article-content h3 {
	font-size: 1.2rem;
}

.article-content img {
  padding: 5px;
  max-width: 100%;
  height: auto;
}

.article-img {
  max-height: 65px;
  max-width: 65px;
  margin-right: 16px;
  margin-top: 10px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  min-height: 75px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  max-height: 125px;
  max-width: 125px;
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.table {
   display: block !important;
}

.media-body {
	width:100%
}

.container {
	padding-left:5px;
	padding-right:5px;
}
