{% extends "layout2.html" %}
{% block content %}
    <!-- Page Header
      <div class="jumbotron text-center jumbotron-fluid" style="background: url('{{ url_for('static', filename='jimbob.jpg') }}')" class="fluid">
          <h1 class="jumbotron-heading bg-dark text-white d-inline-flex">REBBL News Updates!</h1>
          <p class="lead text-muted text-danger">Read the latest articles by the REBBL Writing Crew.</p>
      </div> -->
	  <div class="jumbotron text-center jumbotron-fluid" style="padding:0rem;" >
	  <img src="{{ url_for('static', filename='bobjim2.jpg') }}" class="img-fluid rounded" alt="Responsive image">
      </div>
    <!-- Main Content -->
      <div class="album">
        <div class="container">
			{% for row in posts|batch(3, '&nbsp;') %}
			  <div class="row">
				{% for post in row %}
				  {% if post != '&nbsp;' %}
				  <div class="col-md-4 py-2">
					  <div class="card mb-4 shadow-sm  h-100" style="border-radius: 10px">
						<div class="card-body bg-light" style="background-size: cover;border-top-left-radius: 10px;border-top-right-radius: 10px">
						  <h4>
						  {% if post.category == 'All' %}<button class="btn btn-dark btn-sm float-right" style="border-radius: 10px" href="#">All</button>
						  {% elif post.category == 'GMAN' %}<a href="{{ url_for('main.gman_only') }}" style="border-radius: 10px; background-color:#000e77" class="btn btn-secondary btn-sm float-right">GMAN</a>
						  {% elif post.category == 'Big O' %}<a href="{{ url_for('main.bigo_only') }}" style="border-radius: 10px; background-color:#917c06" class="btn btn-secondary btn-sm float-right">Big O</a>
						  {% elif post.category == 'REL' %}<a href="{{ url_for('main.rel_only') }}" style="border-radius: 10px; background-color:#7e0000" class="btn btn-secondary btn-sm float-right">REL</a>
						  {% elif post.category == 'Clan' %}<a href="{{ url_for('main.clan_only') }}" style="border-radius: 10px" class="btn btn-secondary btn-sm float-right">Clan</a>
						  {% endif %}
						  {{ post.title }} </h4>
						  <p class="card-text text-justify">{{ post.shortdesc }}</p>
						</div>
						<div class="card-footer text-right">
							<a href="{{ url_for('posts.post', post_id=post.id) }}"><button type="button" class="btn btn-outline-primary btn-sm float-left" style="border-radius: 10px">Read More</button></a>
							By&nbsp;<a class="mr-2" href="{{ url_for('users.user_posts', coachname=post.author.coachname) }}">{{ post.author.coachname }}</a>
						</div>
					  </div>
				  </div>
				  {% endif %}
				{% endfor %}
			  </div>
			{% endfor %}
        </div>
	  </div>
{% endblock content %}